<div *ngIf="areUsersLoading">Loading...</div>

<ul *ngIf="!areUsersLoading">
  <li *ngFor="let user of users" class="user-list-item">
    <div>
      <label class="user-label" for="user_name">Username:</label>
      <span id="user_name">{{ user.username }}</span>
    </div>

    <div>
      <label class="user-label" for="user_company">Company:</label>
      <span id="user_company">{{ user.company.name }}</span>
    </div>

    <div>
      <label class="user-label" for="user_website">Website:</label>
      <a id="user_website"
         [appChangeText]="'Go to the website'"
         [href]="user.website | transformWebsite"
         target="_blank">{{ user.website | transformWebsite }}</a>
    </div>

    <div>
      <label class="user-label" for="user_phone">Phone:</label>
      <span id="user_phone">{{ user.phone }}</span>
    </div>

    <div>
      <label class="user-label" for="user_address">Address:</label>
      <span id="user_address">{{ user.address | transformAddress }}</span>
    </div>
  </li>
</ul>
